<div class="carro-form-container">
  <h2>{{ isEditMode ? 'Editar carro ' + carro.nomeModelo : 'Adicionar novo carro' }}</h2>
  <button (click)="navigateBack()">Voltar</button>

  <form (ngSubmit)="onSubmit()">
    <label for="nomeModelo">Nome do Modelo:</label>
    <input type="text" id="nomeModelo" [(ngModel)]="carro.nomeModelo" name="nomeModelo" required maxlength="255">

    <label for="fabricante">Fabricante:</label>
    <select id="fabricante" [(ngModel)]="carro.fabricante" name="fabricante" required>
      <option *ngFor="let fabricante of fabricantes" [value]="fabricante">{{ fabricante }}</option>
    </select>

    <label for="codigoUnico">Código Único:</label>
    <input type="text" id="codigoUnico" [(ngModel)]="carro.codigoUnico" name="codigoUnico" required maxlength="255">

    <div class="form-actions">
      <button type="button" (click)="clearForm()">Limpar</button>
      <button type="submit">Gravar</button>
    </div>
  </form>
</div>
