<div class="container">
  <header>
    <img src="path/to/logo.png" alt="Logo" class="logo">
    <div class="header-content">
      <h1>Título da Página</h1>
      <img src="path/to/title-image.png" alt="Imagem do Título" class="title-image">
    </div>
  </header>
  <div class="content">
      <div>
  <h1>Título da Página</h1>
  <img src="path-to-your-image.jpg" alt="Imagem do Título">
  
  <div>
    <h2>Top 10 Fabricantes com mais Carros</h2>
    <canvas id="topFabricantesChart"></canvas>
  </div>

  <div>
    <h2>Top 10 Carros com mais Peças</h2>
    <canvas id="topCarrosChart"></canvas>
  </div>
</div>

    
  </div>
