<div class="container">
  <div class="header">
    <h1>Listagem de Carros</h1>
    <img src="path/to/your/image.jpg" alt="Imagem do Header" class="header-image">
  </div>
  <div class="toolbar">
    <button (click)="navigateToAddCar()">Cadastrar carro</button>
    <input type="text" placeholder="Pesquisar..." (input)="onSearch($event)">
  </div>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Nome do Modelo</th>
        <th>Fabricante</th>
        <th>Código Único</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let carro of carros">
        <td>{{carro.id}}</td>
        <td>{{carro.nomeModelo}}</td>
        <td>{{carro.fabricante}}</td>
        <td>{{carro.codigoUnico}}</td>
        <td>
          <button (click)="navigateToEditCar(carro.id)">Editar</button>
          <button (click)="deleteCar(carro.id)">Remover</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button (click)="previousPage()">Anterior</button>
    <span>Página {{currentPage}} de {{totalPages}}</span>
    <button (click)="nextPage()">Próximo</button>
  </div>
</div>
